@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  
}
html {
  scroll-behavior: smooth;
}
body{
  display:flex;
  flex-direction:column;
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active_class {
  color: rgb(26, 7, 196);
  border-bottom: 1px solid red;
}
.nav {
  background-color:white;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar-expand{
  background-color: white !important;
}
.navbar a{
  color: white;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover {
  color: #3498db !important;
}
.nav-link active{
  display: none;
}
.header-img{
  text-align: center;
}
.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

  #header{
    height: 70vh;
  }
  span{
    color:	rgb(80,80,80)
  }
  footer {
    width: 100vw;
    height: 5rem;
    background-color:white;
    margin-top: auto;
    transition: .4s; 

  }.card{
    background: white; 
    border: .0625rem solid #eee;
    border-radius: .5rem;
   
    cursor: pointer;
 
}
.card:hover{
    background: white;
    box-shadow: 0 0.625rem 0.875rem -0.3125rem #e0e0e0;
    
}
.myimg img{
  height: 100px;width: 100px;
}
.rounded img{
  border-radius:50%;
}

.font {
  font-family: 'Oxygen', sans-serif;
}
.colu{
  display:flex;
  flex-direction:column;

}
#about img:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

#about img {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
.colu{
  width:100px;
}
.form-label{
font-weight:100px
}
.d-flex .myimage img {
  width: 300px;
  height: 300px;
  padding:12px
}
.col-sm {
  width:200px;
}
.colu h1{
  font-size: 24px;
  margin-top:12px;
}
.nav-item {
  cursor: pointer;
}
.home h1{
  color:  rgb(95, 99, 104);
}
.button1{
  color: #1a73e8;
  outline:none;
  border: none;
  background-color:white;
  font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-decoration: none;
  
  

}

.mybuttons{
  display:flex;
  justify-content: space-between;
}
.list1 ul{
   list-style-type: none;
   padding:0;
   
}
.list1 li{
  padding: 12px 0px;
}

.scrollTop {
  position: fixed; 
  bottom: 20px;
  right: 100px;
  height: 40px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}
.foot{
  height: 200px;
  padding: 50px;
}
footer{
  background-color: rgb(220,220,220)
}

.scrollTop:hover{
  opacity: 1;
}
#contact {
  margin-bottom:50px;
}
.icon1 :hover{
  background-color:white;
  
}
.space{
  margin:3rem;
 

}
.space1{
  margin:3rem;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media (max-width:768px){
  #header {
    margin-top:20px
  }
  #header h1{
    font-size: 28px;
  }
  #header h2{
    font-size: 18px;
    margin-bottom:30px;
  }
  #header .header-img img{
    width:70%;
  }
  #nav_wide{
    width:95%;
  }
  .d-flex{
    flex-direction: column;

  }
  form{
    margin-bottom: 50px;
  }
  .scrollTop {
    right: 20px;
  }
  .col-8{
    width:73%;
  }
}
@media (max-width:468px){
  .space{
  margin:1.5rem;
  }
  .space1{
    padding: 0 !important;
    margin:0;
    width:99% !important;
  }
  .myimg img{
    height:66px;
    width:66px;
  }
  .colu h1 {
    font-size:18px;
  }
}
